/*Universal Styles*/
body{
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}
/*Header*/
header{
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 69px;
  width: 100%;
  background-color: black;
}
.logo{
  padding-left: 10px;
  flex-grow: 1;
  height: 50px;
  text-align: left;
}
.logo img{
  height: 50px;
}
.navigation span{
  text-decoration: underline;
  padding: 0px 10px;
}
/*Content*/
.content{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 69px;
}
.title{
  height: auto;
  width: 100%;
}
.title h2, .title h4{
  padding: 15px 0px;
}
/*Mission*/
.mission{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/background.jpg);
  height: 700px;
  width: 1200px;
}
.mission .title{
  background-color: black;
}
.title h2, .title h4{
  margin: 0;
}
/*Tea of the Month*/
.tea_of_the_month{
  width: 1000px;
  margin-top:40px;
}
.teas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pictures{
  margin: 0px 0px 20px 0px;
}
.pictures img{
  height: 200px;
  width: 300px;
  padding: 0px 10px 10px 10px;
}
.pictures h4{
  margin: 0;
}
/*Locations*/
.locations{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/locations.jpg);
  height: 500px;
  width: 1200px;
  margin-top: 40px;
}
.locations h2{
  margin: 0;
}
.locations h4{
  font-weight: normal;
}
.places{
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.address{
  background-color: black;
  opacity: 1;
  width: 300px;
  margin: 0 20px;
}
/*Contact*/
.contact{
  height: 200px;
}
/*Footer*/
footer{
  text-align: left;
  margin-left: 20px;
}
